<html>
  <body>
<div class="navbar1">
    <a>School Admission  </a>
  <a *ngIf="loginService.isUserLoggedIn()" href="/viewacademy" id="userInstitute" >  Institute   </a>
  <a href="/displaycourse" id="userEnrolledCourse">   Enrolled Courses   </a>
  <a  *ngIf="loginService.isUserLoggedIn()" (click)="logout()" href="" class="logout" id="logout">   Logout  </a>
</div>

<div class="search"  id="searchButton">
      <input type="text" name="search" class='search-box' placeholder="Type here to search academy" [(ngModel)]="instituteName" (ngModelChange)="Search()"/>
      <input type="submit" class="search-txt" value="Search" /><br />
    
</div>

<div class="basic-2">


<div class="team-member" id="userInstituteGrid1" *ngFor="let ins of institutes;  let i=index;">
  <div class="image-wrapper">
    <img class="img-fluid" src={{ins.imgUrl}} alt="alternative">
  </div> 
  <p class="p-large">{{ins.instituteName}}</p>
  
  <p class="p-large">{{ins.mobileNumber}}</p>
  <p class="p-large">{{ins.email}}</p>
  <p class="job-title">{{ins.instituteAddress}}</p>
  <button (click)="institueEnroll()" type="button" class="btn btn-success"> View</button>
</div>

</div>


</body>
</html>
