<nav class="navbar" style="background-color:green; border-bottom: 1em solid white;">
  <div class="container-fluid">
      <h1 style="color:aliceblue;">School Admission</h1>
      <h4 style="color:aliceblue;" routerLink="/institute">Academy</h4>
      <h4 style="color:aliceblue;" routerLink="/course">Course</h4>
      <h4 style="color:aliceblue;" routerLink="/student">Students</h4>
      <h4 style="color:aliceblue;" routerLink="/login">Logout</h4>
  </div>
</nav>

<div style="height: 100vh; background-color: gray;"> 
<div class="container">
<div class="input-group">
    <input  class="form-control rounded" autocomplete="off"   placeholder="Type here to search course" aria-label="Search" aria-describedby="search-addon" style="margin-top:2em; margin-right: 1em; width:800%"  [(ngModel)]="courseName" (ngModelChange)="Search()"  />
    <button type="button" id="searchCourse" class="btn btn-outline-primary btn btn-success" style="margin-top: 2em; color:white;  border-color:grey;" >Search</button>
  </div>
</div>
<br>
<br>  
<form action="" id="addCourse" style="margin-top: 4em; " *ngFor="let cou of courses;  let i=index;">
  <div style="margin-bottom: 6em; margin-left: 2em; background-color: lightgrey; padding: 2em; width: 50em;">
    <label for="CourseName">Course Name : {{cou.courseName}}</label>
    <input type="text"  id="courseName">
    <label for="courseEnrolled">Number of Students : {{cou.courseEnrolled}}</label>
    <input type="text"  id="courseEnrolled">
    <br>
    <br>
    <label for="CourseDuration">Course Duration : {{cou.courseDuration}}</label>
    <input type="text"  id="courseDuration">
    <label for="CourseDescription">Course Description : {{cou.courseDescription}}</label>
    <input type="text"  id="courseDescription">
    <br>
    <br>
    <label for="CourseTiming">Course Available Timings : {{cou.courseTiming}}</label>
    <input type="text"  id="courseTiming">
    <div class="button">
      <button (click)="opensweetalert(cou.courseId)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="margin-right:1em;">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg></button>
      <button (click)="updateCourse(cou.courseId)"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg></button>
    </div>
    </div>
  </form>
  <div class="button" style="text-align:center;">
    <button class="glyphicon glyphicon-plus-sign btn btn-success"   style="border-radius: 12px; background-color: green;" routerLink="/addcourse">Add Course</button>
  </div>
  </div>
  <!-- bevuwtjwnem yygewuwsdsfmzbSGEDFRKLMZFS-->
 <!-- bevuwtjwnem yygewuwsdsfmzbSGEDFRKLMZFS-->
 <!-- bevuwtjwnem yygewuwsdsfmzbSGEDFRKLMZFS-->
