body 
{
  background-color: gray;
}
#academyBackground{
    
    background-color: gray;
  }
  #academyHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50px;
    background-color:rgb(173, 13, 173);
    padding: 10px;
  
  }
  h2{
    margin-left: 20px;
  }
  #academyList{
    display: flex;
    flex: 1;
    justify-content: center;
    
  }
  #academyBackground{
    background-color: rgb(173, 172, 172);
    width: 100%;
    height:100%;
    justify-content:center;
    margin-top: 0em;
  }
  
  ul li{
    padding: 55px;
    list-style: none;
    
    
  }
  ul li button{
    cursor: pointer;
    border: none;
    background: none;
    font-size: medium;
    
  }
  ul li button:hover{
    color: brown;
  }
  #adminCourse{
    font-size: 20px;
  }
  #adminAcademy{
    font-size: 17px;
  }
  h5{
    display: flex;
    align-items: center;
    margin-top:50px ;
    margin-left: 50%;
    margin-bottom: 5%;
    font-size: medium;
    font-weight: bold;
  }
  
  
  #logout{
    cursor: pointer;
    border: none;
    background: none;
    margin-right:20px ;
    
  }
  
  #logout:hover{
    color: brown;
  }
  #academyLeft{
    
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    float: left;
    size: 10%;
    height: 10%;
  }
  #academyLeft input{
    width:330px;
    height:50px;
  }
  #academyCenter input{
    width:330px;
    height:50px;
  }
  #academyCenter {
    justify-content: center;
    float: right;
    margin-right:35%;
  
  
    
  
  }
  #academyDescription input{
    width:330px;
    height:100px;
  }
  #academyRight{
    margin-top: 1em; 
    right: 16px; 
    margin-right: 2%;
      border-radius:5%; 
      position: absolute;
    
        
  }

  #academyRight input{
    width:330px;
    height:50px;
  }
  #addAcademy{
    border-radius: 9px;
  }
  
  ::placeholder{
  
    font-size: medium;
  }
  .column2
{

  position: absolute;
   width: 55em;
   background-color: lightgray;
   float: right;
   bottom: 5px;
   margin-left: 45%;
  
}
#enroll{
  position: absolute;
  right: 100px;
  margin-right: 10%;
  border-radius:5%;
  top: 100%;
  margin-bottom: 100px;
  
} 