<meta name  = "viewport" content="width=device-width, initial-scale=1.0" />

<div id  = "academyHeader">
  <h1 style="font-family:initial; color: gainsboro; padding-top: 1%;" ><b>School Admission Portal</b></h1>
  <ul id = "academyList">
    <li id = "adminAcademy">
      <button (click) = "viewAcademy()" id="adminAcademy"><u> Academy</u></button>
    </li >
    <li id = "adminCourse">
      <button (click) = "viewCourse()" id="adminCourse"><u> Course</u></button>
    </li >
    <li id = "adminStudent">
      <button (click) = "viewStudent()" style="font-size: 20px;" id="adminStudent"><u> Student</u></button>
    </li >
  </ul >
  <div >
    <button (click) = "logout()" style="font-size: 20px;" id="logout"><b>Logout</b></button>
  </div>
</div>
<div id = "academyBackground">
  <form
    [formGroup] = "enrolledform"
    #ngForm = "ngForm"
    (ngSubmit) = "onSubmit($event)"
  >
    <div id="academyLeft" style ="margin-top: 1em">
      <label for="firstName" style="font-size: medium;"><b>First Name</b></label>

      <div id ="firstName">
        <input
          formControlName ="firstName"
          type ="text"
          class ="form-control"
          [(ngModel)] ="student.firstName" 
          name ="firstName"
          placeholder ="Enter Your first name"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('firstName').valid &&
            enrolledform.get('firstName').touched
          "
          class ="text-danger"
        >
          Invalid firstName</small
        >
      </div>
      <br />

      <div id ="fatherName">
        <label for="fatherName" style="font-size: medium;"><b>Father Name</b></label>

        <input
          formControlName ="fatherName"
          type ="text"
          class ="form-control"
          placeholder ="Enter Your father name"
          [(ngModel)] ="student.fatherName" 
          name ="fatherName"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('fatherName').valid &&
            enrolledform.get('fatherName').touched
          "
          class ="text-danger"
        >
          Invalid fatherName</small
        >
      </div>
      <br />

      <div id ="motherName">
        <label for="motherName" style="font-size: medium;"><b>Mother Name</b></label>

        <input
          formControlName ="motherName"
          type ="text"
          class ="form-control"
          placeholder ="Enter Your mother name"
          [(ngModel)] ="student.motherName" 
          name ="motherName"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('motherName').valid &&
            enrolledform.get('motherName').touched
          "
          class ="text-danger"
        >
          Invalid motherName</small
        >
      </div>
      <br />

      <div id ="emailId">
        <label for="emailId" style="font-size: medium;"><b>Email-ID</b></label>

        <input
          formControlName ="emailId"
          type ="email"
          class ="form-control"
          placeholder ="Enter Your email id"
          [(ngModel)]="student.email" 
          name ="email"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('emailId').valid &&
            enrolledform.get('emailId').touched
          "
          class ="text-danger"
        >
          Invalid emailId</small
        >
      </div >
      <br />

      <div id ="age">
        <label for="emailId" style="font-size: medium;"><b>Age</b></label>
<br>
        <input
          formControlName ="age"
          type="text"
          placeholder ="Enter Your age"
          [(ngModel)] ="student.age" 
          name ="age"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('age').valid && enrolledform.get('age').touched
          "
          class ="text-danger"
        >
          Invalid age</small
        >
      </div>
      <br /><br />
      <!-- <div id ="enterSSLC/HSCMarks">
        <input
          formControlName ="SSLCorHSCMarks"
          type ="text"
          class ="form-control"
          placeholder ="Enter Your SSLC/HSC marks"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('SSLCorHSCMarks').valid &&
            enrolledform.get('SSLCorHSCMarks').touched
          "
          class ="text-danger"
        >
          Invalid SSLC and HSC marks
        </small>
      </div > -->
      <br />
    </div >

    <div id ="academyCenter" style="margin-top: 1em">
      <label for="emailId" style="font-size: medium;"><b>Last Name</b></label>

      <div id ="lastName">
        <input
          formControlName ="lastName"
          type ="text"
          class ="form-control"
          placeholder ="Enter Your Last Name"
          [(ngModel)] ="student.lastName" 
          name ="lastName"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('lastName').valid &&
            enrolledform.get('lastName').touched
          "
          class ="text-danger"
        >
          Invalid last Name
        </small>
      </div>
      <br />
      <div id ="phoneNumber1">
        <label for="emailId" style="font-size: medium;"><b>Phone Number 1</b></label>

        <input
          formControlName ="phoneNumber1"
          type ="number"
          class ="form-control"
          placeholder ="Enter Your Phone Number"
          [(ngModel)] ="student.phoneNumber1" 
          name="phoneNumber1"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('phoneNumber1').valid &&
            enrolledform.get('phoneNumber1').touched
          "
          class="text-danger"
        >
          Invalid phoneNumber
        </small>
      </div>
      <br /><br />
    </div>

    <div id="academyRight">
      <div id="maleorfemale">
        <label for="emailId" style="font-size: medium;"><b>Select Gender</b></label>

        <select
          style="display: inline"
          class="form-control"
          id="maleorfemale"
          name="maleorfemale"
          #myNameElemtoduration
        >
          <option selected hidden>Enter Gender</option>
          <option value="Male ">Male</option>
          <option value="Female ">Female</option></select
        ><br /><br /><br />
      </div>

      <div id="phoneNumber2">
        <label for="emailId" style="font-size: medium;"><b>Phone Number 2</b></label>

        <input
          formControlName ="phoneNumber2"
          type="number"
          class ="form-control"
          [(ngModel)] ="student.phoneNumber2" 
          name ="phoneNumber2"
          placeholder ="Enter alternate number"
        /><br />
        <small
          *ngIf="
            !enrolledform.get('phoneNumber2').valid &&
            enrolledform.get('phoneNumber2').touched
          "
          class ="text-danger"
        >
          Invalid phoneNumber2
        </small>
      </div >
      <br /> <br />
    </div >

    <div class ="column2">
      <p style ="margin-top: 1em; margin-left: 1em ; font-size: large;"> <u> Address Information</u></p>
      <div style ="padding: 1em">
        <label for="houseNo" style="font-size: medium;"><b>House No :</b></label>
        <input
          formControlName ="houseNo"
          type="text"
          id="houseNo"
          [(ngModel)] ="student.houseNo" 
          name ="houseNo"
          style="
            background-color: white;
            padding: 0.5em;
            width: 20em;
            margin-left: 3em;
          "
        />
        <small
          *ngIf="
            !enrolledform.get('houseNo').valid &&
            enrolledform.get('houseNo').touched
          "
          class ="text-danger"
        >
          Invalid houseNo
        </small>
      </div>
      <div style ="padding: 1em">
        <label for="streetName" style="font-size: medium;"><b>Street Name :</b> </label>
        <input
          formControlName ="streetName"
          type ="text"
          id ="streetName"
          [(ngModel)] ="student.streetName" 
          name ="streetName"
          style="
            background-color: white;
            padding: 0.5em;
            width: 20em;
            margin-left: 2em;
          "
        />
        <small
          *ngIf="
            !enrolledform.get('streetName').valid &&
            enrolledform.get('streetName').touched
          "
          class ="text-danger"
        >
          Invalid streetName
        </small >
      </div >
      <div style ="padding: 1em">
        <label for ="areaName" style="font-size: medium;"><b>Area Name :</b></label>
        <input
          formControlName ="areaName"
          type ="text"
          id ="areaName"
          [(ngModel)]="student.areaName" 
          name ="areaName"
          style="
            background-color: white;
            padding: 0.5em;
            width: 15em;
            margin-left: 2.5em;
          "
        />
        <small
          *ngIf="
            !enrolledform.get('areaName').valid &&
            enrolledform.get('areaName').touched
          "
          class ="text-danger"
        >
          Invalid areaName </small
        ><br /><br />
        <label for="pincode" style="font-size: medium;"><b>Pincode :</b></label>
        <input
          formControlName ="pincode"
          type ="number"
          id ="pincode"
          [(ngModel)] ="student.pincode" 
          name ="pincode"
          style ="background-color: white; padding: 0.5em; margin-left: 4em"
        />
        <small
          *ngIf="
            !enrolledform.get('pincode').valid &&
            enrolledform.get('pincode').touched
          "
          class ="text-danger"
        >
          Invalid-Pincode
        </small>
      </div>
      <div style ="padding: 1em">
        <label for ="state" style="font-size: medium;"><b>State :</b></label>
        <input
          formControlName ="state"
          type ="text"
          id ="state"
          [(ngModel)] ="student.state" 
          name ="state"
          style ="background-color: white; padding: 0.5em; margin-left: 5.5em"
        />
        <small
          *ngIf="
            !enrolledform.get('state').valid &&
            enrolledform.get('state').touched
          "
          class ="text-danger"
        >
          Invalid state </small
        ><br /><br />
        <label for ="nationality"style="font-size: medium;"><b>Nationality :</b></label>
        <input
          formControlName ="nationality"
          type ="text"
          id ="nationality"
          [(ngModel)] ="student.nationality" 
          name ="nationality"
          style ="background-color: white; padding: 0.5em; margin-left: 3em"
        />
        <small
          *ngIf="
            !enrolledform.get('nationality').valid &&
            enrolledform.get('nationality').touched
          "
          class ="text-danger"
        >
          Nationality required</small
        >
        <br />
      </div>
    </div>
    <div id ="enroll">
      <button
        [disabled]="!enrolledform.valid"  
        (click) ="enrollnow()"
        type ="submit"
        class ="btn btn-success"
        id ="enrollNowButton"
        style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);"
      >
        Update Student
      </button>
    </div>
  </form>
</div>
