*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("pexels-ti.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container{
  display: inline;
}

.search-bar{
  font-family: courier;
  font-size: 180%;
  padding: 15px;
  color: whitesmoke;

}
#adds:hover{
  background:white;
  color:green;
}
.button3 {padding: 14px 35px;}













































