<html> 
     
    <body>


      
<div class="Full">
            

       </div>
        <div class="Header">
            <form>

                <h1>GIVE YOUR REVIEW</h1>
                <div class="id">
                    
                    
                <input type="text" placeholder="FullName">
                
                </div>
                <div class="id">

                <input type="email" placeholder="Email Address">
               
                </div>
                <textarea cols="10" rows="3" placeholder="Enter Your Review"></textarea>

                <button (click)="submit()" id="submit">SUBMIT</button>
                
                    
            </form>
        </div> 
        
    </body>
</html>