<nav class="navbar">
    <div class="container-fluid">
     <h1>ENROLLED COURSE </h1> 
     <h3><br> INSTITUTE </h3>
            <button class="logout">Logout</button>   
    </div>
    <br>
    <div class="display">
    <div class="course-block" *ngFor="let ecou of ecourse;  let i=index;">
        <label for="course-name" style="font-size: larger;">Course Name:-</label>
        <label for="course-name-value" style="font-size: large;"> {{ecou.ecourseName}}</label>
        <br><br>
        <!-- <label for="joined date">Joined Date:-</label> 
        <label for="joined date-value">dd/mm/yyyy</label>
        <br><br>
        <label for="course-end">Course end date:-</label> 
        <label for="course-end-value">dd/mm/yyyy</label> -->
        <button class="btn1">View All Courses</button>
    </div>
  </div>
  </nav>