*{
    font-family: 'Roboto', sans-serif;
}
.flex-container{
    display: inline;
}

.course-block{
      background-color: #2a8d9a;
      top: 20%;
      left: 3%;
      width: 500px;
      height: 100;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      font-weight: bold;
      font-size: medium;
      display: inline-block;
}
body{
    background-image: url("bckimage.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}