<div id="academyHeader">
  <h2>School Admission</h2>
  <ul id="academyList">
      <li id="adminAcademy">
          <button (click)="viewAcademy()" id="adminAcademy">Academy</button>
      </li>
      <li id="adminCourse">
          <button (click)="viewCourse()" id="adminCourse">Course</button>
      </li>
      <li id="adminStudents">
          <button (click)="viewStudents()" id="adminStudents">Students</button>
      </li>
      

       
  </ul>
  <div>

  <button (click)="logout()" id="logout">Logout</button></div>
</div>
<div id="academyBackground">
    <form [formGroup]="addacademyform" #ngForm="ngForm" (ngSubmit)="onSubmit($event)">        

  <h5>Add Academy</h5><br>
  <div id="academyLeft">
  <div  id="academyName" >
      <input formControlName="instituteId" type="text" class="form-control" placeholder="Enter Academy Id"
      [(ngModel)]="institute.instituteId" name="instituteId"><br>
      <small *ngIf="!addacademyform.get('instituteId').valid && addacademyform.get('instituteId').touched" class="text-white">* Invalid Academy ID</small>
      <input formControlName="instituteName" type="text" id="instituteName" [(ngModel)]="institute.instituteName" name="instituteName" placeholder="Enter the Academy Name" class="form-control"><br>
      <small *ngIf="!addacademyform.get('instituteName').valid && addacademyform.get('instituteName').touched" class="text-white">* Invalid Academy Name</small>
    </div>
  <div  id="imageUrl" >
      <input [(ngModel)]="institute.imgUrl" formControlName="imageUrl" type="text" class="form-control" placeholder="Enter the academy Image url"
      ><br>
      <small *ngIf="!addacademyform.get('imageUrl').valid && addacademyform.get('imageUrl').touched" class="text-white">* Invalid Image URL</small>
  </div>
  <div  id="academyLocation" >
      <input formControlName="academyLocation" type="text" class="form-control" placeholder="Enter Academy Location"
      [(ngModel)]="institute.instituteAddress" name="instituteAddress"><br>
      <small *ngIf="!addacademyform.get('academyLocation').valid && addacademyform.get('academyLocation').touched" class="text-white">
          * Invalid Academy Loacation</small> 
  </div>
  </div>
  <div id="academyCenter">
      <div id="contactNumber" >
          <input formControlName="mobileNumber" type="text" class="form-control"  placeholder="Enter the contact number"
          [(ngModel)]="institute.mobileNo" name="mobileNo"><br>
          <small *ngIf="!addacademyform.get('mobileNumber').valid && addacademyform.get('mobileNumber').touched" class="text-white">* Invalid Mobile Number</small>
      </div>
      <div  id="emailId" >
          <input  formControlName="instituteEmail" type="email" class="form-control" placeholder="Enter the academy email"
          [(ngModel)]="institute.email" name="email" ><br>
          <small *ngIf="!addacademyform.get('instituteEmail').valid && addacademyform.get('instituteEmail').touched" class="text-white">* Invalid Academy Email ID</small>   


      </div>
      <div  id="academyDescription" >
          <input formControlName="academyDesc" type="text" class="form-control"  placeholder="Enter Academy description"
          [(ngModel)]="institute.instituteDescription" name="instituteDescription"><br><br>
          <small *ngIf="!addacademyform.get('academyDesc').valid && addacademyform.get('academyDesc').touched" class="text-white">* Invalid Academy Description</small>

      </div><br><br>
  </div>
  <div id="academyRight">
      <button [disabled]="!addacademyform.valid" (click)="addAcademy()" class="btn btn-success" id="addAcademy">Add Academy</button>
  </div>
</form>

</div>
