<div id="academyHeader">
  <h2>School Admission</h2>
  <ul id="academyList">
      <li id="adminAcademy">
          <button (click)="viewAcademy()" id="adminAcademy">Academy</button>
      </li>
      <li id="adminCourse">
          <button (click)="viewCourse()" id="adminCourse">Course</button>
      </li>
      <li id="adminStudents">
          <button (click)="viewStudents()" id="adminStudents">Students</button>
      </li>
      

       
  </ul>
  <div>

  <button (click)="logout()" id="logout">Logout</button></div>
</div>
<div id="academyBackground">
    <form [formGroup]="addAcademyform" #ngForm="ngForm" (ngSubmit)="onSubmit($event)">        

  <h5>Add Academy</h5><br>
  <div id="academyLeft">
  <div  id="academyName" >
      <input formControlName="academyName" type="text" class="form-control" placeholder="Enter Academy name"
      [(ngModel)]="institute.instituteId" name="instituteId"><br>
      <small *ngIf="!addAcademyform.get('academyName').valid && addAcademyform.get('academyName').touched" class="text-danger">Invalid Academy Name</small> 

  </div><br><br>
  <div  id="imageUrl" >
      <input type="text" class="form-control" placeholder="Enter the academy Image url"
      ><br>
  </div><br><br>
  <div  id="academyLocation" >
      <input formControlName="academyLocation" type="text" class="form-control" placeholder="Enter Academy Location"
      [(ngModel)]="institute.instituteAddress" name="instituteAddress"><br>
      <small *ngIf="!addAcademyform.get('academyLocation').valid && addAcademyform.get('academyLocation').touched" class="text-danger">
          Invalid Academy Loacation</small> 

  </div><br><br>
  
  </div>
  <div id="academyCenter">
      <div id="contactNumber" >
          <input formControlName="contactNumber" type="number" class="form-control"  placeholder="Enter the contact number"
          [(ngModel)]="institute.mobileNumber" name="mobileNumber"><br>
            <small *ngIf="!addAcademyform.get('contactNumber').valid && addAcademyform.get('contactNumber').touched  "class="text-danger">
                Invalid Mobile Number
            </small>
      </div><br><br>
      <div  id="emailId" >
          <input  formControlName="emailId" type="email" class="form-control" placeholder="Enter the academy email"
          [(ngModel)]="institute.email" name="email" ><br>
          <small *ngIf="!addAcademyform.get('emailId').valid && addAcademyform.get('emailId'),touched" class="text-danger">
              Invalid Email Id
          </small>

      </div><br><br>
      <div  id="academyDescription" >
          <input type="text" class="form-control"  placeholder="Enter Academy description"
          [(ngModel)]="institute.instituteDescription" name="instituteDescription"><br><br>

      </div><br><br>
  </div>
  <div id="academyRight">
      <button (click)="addAcademy()" class="btn btn-success" id="addAcademy">Add Academy</button>

  </div>
</form>

</div>
