<div id="academyHeader">
  <h2>School Admission</h2>
  <ul id="academyList">
      <li id="adminAcademy">
          <button (click)="viewAcademy()" id="adminAcademy">Academy</button>
      </li>
      <li id="adminCourse">
          <button (click)="viewCourse()" id="adminCourse">Course</button>
      </li>
      <li id="adminStudents">
          <button (click)="viewStudents()" id="adminStudents">Students</button>
      </li>
      

       
  </ul>
  <div>

  <button (click)="logout()" id="logout">Logout</button></div>
</div>
<div id="academyBackground">
  
  <h5>Edit Academy</h5><br>
  <div id="academyLeft">
  <div  id="editAcademyName" >
      <input type="text" class="form-control" placeholder="Enter Academy name" 
      id="instituteId" [(ngModel)]="institute.instituteId" name="instituteId"  ><br>
  </div><br><br>
  <div  id="editimageUrl" >
      <input type="text" class="form-control" placeholder="Enter the academy Image url"><br>
  </div><br><br>
  <div  id="editAcademyLocation" >
      <input type="text" class="form-control" placeholder="Enter Academy Location" 
      [(ngModel)]="institute.instituteAddress" name="instituteAddress"><br>
  </div><br><br>
  
  </div>
  <div id="academyCenter">
      <div id="editContactNumber" >
          <input type="text " class="form-control"  placeholder="Enter the contact number"
          [(ngModel)]="institute.mobileNo" name="mobileNo"><br>
      </div><br><br>
      <div  id="editEmailId" >
          <input type="text" class="form-control" placeholder="Enter the academy email"
          [(ngModel)]="institute.email" name="email" ><br>
      </div><br><br>
      <div  id="editAcademyDescription" >
          <input type="text" class="form-control"  placeholder="Enter Academy description"
          [(ngModel)]="institute.instituteDescription" name="instituteDescription"><br><br>
      </div><br><br>
  </div>
  <div id="academyRight">
      <button type="submit" (click)="updateAcademy()" class="btn btn-success" id="updateAcademy">Update Academy</button>

  </div>

</div>
