<nav class="navbar">
    <div class="instcontainer-fluid">
     <h1>INSTITUTE</h1>
    <div class="instEnroll">
        <h3> Enrolled course
            <button class="logout">Logout</button>
        </h3>    
    </div>
    </div>
</nav>
    <div class="instsearch">
        <br>
    <input type="text" id="course-name" name="course-name" placeholder="Type here to search course">&nbsp;<button class="submit">Search</button>
    </div>
    <br>
    <div>
    <div class="instcourse-block" *ngFor="let cou of courses;  let i=index;">
        <br>
        <label for="course-name">Course Name:-</label>
        <label for="course-name-value">{{cou.courseName}}</label>
        <div class="instright-col">
        <label for="no-of-students">Number of students:-</label> 
        <label for="no-of-students-value">{{cou.courseEnrolled}}</label>
        </div>
        <br>
        <label for="course-duration">Course-Duration:-</label> 
        <label for="course-name-value">{{cou.courseDuration}}</label>
        <div class="instright-col">
        <label for="course-description">Course-Description:-</label> 
        <label for="course-description-value">{{cou.courseDescription}}</label>
        </div>
        <br>
        <label for="course-avail">Course availble timings:-</label>
        <label for="course-avail-value">{{cou.courseTiming}}</label>
        <button class="instbtn1" (click)="enrolledCourse()">Enroll Now</button>
        <br>
    </div>
    <br>
</div>