<body>

    <img src="https://images.pexels.com/photos/8363561/pexels-photo-8363561.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" height="735px" width="1510px">
    <header>
		<div class="main">
			
			<nav>
				<ul>
					<h2>School Admission</h2>
				</ul>
			</nav>
		</div>
	</header>
    <div class="border">
        <div class="signupimage">
            <img src="https://i7.uihere.com/icons/583/29/127/sign-up-and-add-friends-82adf982a734c971a8834e1fee79685c.png" height="121.91px" width="118px">
        </div>
        <div class="signup">
	        <button (click)="signup()" type="signup">Sign UP</button>
        </div>
        <div class="loginimage">
            <img src="https://freepikpsd.com/file/2019/10/login-png-icon-1.png" height="112px" width="108.14">
        </div>
        <div class="login">
            <button (click)="login()" type="login">Login</button>
        </div>
    </div>
</body>