<nav class="navbar" style="background-color:green; border-bottom: 1em solid white;">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">School Admission</h1>
        <h4 style="color:aliceblue;">Academy</h4>
        <h4 style="color:aliceblue;">Course</h4>
        <h4 style="color:aliceblue;">Students</h4>
        <h4 style="color:aliceblue;" routerLink="/login">Logout</h4>
    </div>
</nav>
<div style="background-color: gray; height: 100vh;">
<h5 style="padding-top: 1em; text-align: center; color: white;" >Add Course</h5>
<form action="" id="addCourse" style="margin-top: 4em; ">
  <div style="margin-bottom: 6em; margin-left: 2em;">
  <input type="text" id="courseName" [(ngModel)]="course.courseName" placeholder="Enter the course Name" style="margin-right: 8em; background-color: lightgrey; padding: 1em; width: 20em;">
  <input type="text" id="courseEnrolled" [(ngModel)]="course.courseEnrolled" placeholder="Enter no of student enrolled for the course" style="background-color: lightgrey; padding: 1em; width: 20em; margin-left: 40em;"><br>
  </div>
  <div style="margin-bottom: 6em; margin-left: 2em;">
  <input type="text" id="courseDuration" [(ngModel)]="course.courseDuration" placeholder="Enter the course Duration" style="margin-right: 8em; background-color: lightgrey; padding: 1em; width: 20em">
  </div>
  <div style="margin-left: 2em;">
  <input type="text" id="courseTiming"  [(ngModel)]="course.courseTiming"  placeholder="Enter the course Timing" style="margin-right: 8em; background-color: lightgrey; padding: 1em; width: 20em;">
  <textarea rows="4" cols="30" form="addAcademy" id="courseDescription"  [(ngModel)]="course.courseDescription" placeholder="Enter Academy description" style="margin-right: 8em; background-color: lightgrey; padding: 1em; width: 25em; margin-left: 40em;"></textarea>
  <input type="button" (click)="addcourse()"  id="addCourse" value="Add Course" style="border-radius: 12px; background-color: forestgreen; padding: 0.5em; color: white;"   routerLink="/course">
  </div>
</form>
</div>
