
.college{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.input-group{
    flex-direction: row;

}
.checked{
    color:orange;
}
.button{
    text-align: center;
    
}
input{
    width:85%;  
}