<body>
  <nav class="navbar" style="background-color:rgb(10, 10, 10); ">
    <div class="container-fluid">
        <h2  style="color:rgb(255, 255, 255); cursor: pointer;" routerLink="/homepage">School Admission</h2>
        <h2 style="color:rgb(247, 247, 247); cursor: pointer;" routerLink="/institute" >Academy</h2>
        <h2 style="color:rgb(253, 253, 253); cursor: pointer;" routerLink="/course">Course</h2>
        <h2 style="color:rgb(253, 253, 253); cursor: pointer;" routerLink="/student">Students</h2>
        <h2 style="color:rgb(255, 255, 255); cursor: pointer;" routerLink="/login">Logout</h2>
    </div>
  </nav>
  
  <div class="container" style="margin-left:0;"> 
  <div  >
  <div class="input-group">
      <input  class="form-control rounded" autocomplete="off"  placeholder="Type here to search academy" aria-label="Search" aria-describedby="search-addon" style="margin-top:2em; margin-right: 2em; width: 50%;"  [(ngModel)]="instituteName" (ngModelChange)="Search()" />
      <button type="button" class="btn btn-outline-primary btn btn-success" style="margin-top: 2em; color:white;  border-color:grey;">Search</button>
    </div>
  </div>  
  <br>

  <!-- <ng-container *ngFor="let institute of institutes">
    <li>
      {{ institute.instituteid }}
    </li>
  </ng-container> -->

  <div class="college ">
    

  <div class="card" style="width: 18rem;margin-top: 2ex;" *ngFor="let ins of institutes;  let i=index;">
    <img class="card-img-top" src={{ins.imgUrl}} alt={{ins.imgUrl}}>
    <div class="card-body"    >
      <h5 class="card-title">{{ins.instituteId}}</h5>
      <p class="card-text">{{ins.instituteAddress}}</p>
      <p class="card-text">{{ins.email}}</p>
      <p class="card-text">{{ins.instituteName}}</p>
      <p class="card-text">{{ins.mobileNumber}}</p>
     
       
    </div>
    <div class="button">
      <a (click)="opensweetalert(ins.instituteId)" style="cursor: pointer;" class="button primary delete">Delete</a>
      <a (click)="updateInstitute(ins.instituteId)" class="button primary edit" style="margin-left: 1ex; cursor: pointer;">Edit</a>
      
     
    </div>
    <br>
  </div>
  



  </div>


 
  <br>
  <br>
  <div class="but">
  <button class="glyphicon glyphicon-plus-sign btn btn-success"   style="border-radius: 12px; background-color: green; margin-left: 90ex;" routerLink="/addacademy">Add Institute</button>
  </div>
  </div>
</body>
